.dataTableVizInsight {
  th.orderBy {
    cursor:pointer;
  }
}

.dataTableVizInsight .dataTableFeatures,
.insightsDataTable {

  .controls {
    padding: 20px 10px 0 0;
    margin-bottom: 10px;
    border-top: 1px solid @theme-color-border;
  }

  th.orderBy {
    width: 20%;
  }

  th.orderBy.active {
    font-weight:bold;
  }

  .title {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    display: block;
  }

  .grown {
    color:green;
  }

  .notGrown {
    color:red;
  }

  .isMoverAndShaker {
    font-weight:bold;
  }

}