<div ng-controller="SitesManagerController" class="SitesManager">
<div ng-show="hasSuperUserAccess" piwik-content-block content-title="{{ 'SitesManager_GlobalWebsitesSettings' | translate }}">

    <a name="globalSettings" id="globalSettings"></a>

    <div id="excludedIpsGlobalHelp" class="inline-help-node">
        <div ng-include="'plugins/SitesManager/templates/help/excluded-ip-help.html'"></div>
    </div>

    <div id="excludedQueryParametersGlobalHelp" class="inline-help-node">
        <div ng-include="'plugins/SitesManager/templates/help/excluded-query-parameters-help.html'"></div>
    </div>

    <div id="excludedUserAgentsGlobalHelp" class="inline-help-node">
        <div ng-include="'plugins/SitesManager/templates/help/excluded-user-agents-help.html'"></div>
    </div>

    <div id="timezoneHelp" class="inline-help-node">
        <div ng-include="'plugins/SitesManager/templates/help/timezone-help.html'"></div>
    </div>

    <div id="keepURLFragmentsHelp" class="inline-help-node">
        <div ng-bind-html="'SitesManager_KeepURLFragmentsHelp'|translate:'<em>#</em>':'<em>example.org/index.html#first_section</em>':'<em>example.org/index.html</em>'"></div>
        <div>{{ 'SitesManager_KeepURLFragmentsHelp2'|translate }}</div>
    </div>

    <div piwik-field uicontrol="textarea" name="excludedIpsGlobal"
         var-type="array"
         ng-model="globalSettings.excludedIpsGlobal"
         title="{{ 'SitesManager_ListOfIpsToBeExcludedOnAllWebsites'|translate }}"
         introduction="{{ 'SitesManager_GlobalListExcludedIps'|translate }}"
         inline-help="#excludedIpsGlobalHelp">
    </div>

    <div piwik-field uicontrol="textarea" name="excludedQueryParametersGlobal"
         var-type="array"
         ng-model="globalSettings.excludedQueryParametersGlobal"
         title="{{ 'SitesManager_ListOfQueryParametersToBeExcludedOnAllWebsites'|translate }}"
         introduction="{{ 'SitesManager_GlobalListExcludedQueryParameters'|translate }}"
         inline-help="#excludedQueryParametersGlobalHelp">
    </div>

    <div piwik-field uicontrol="textarea" name="excludedUserAgentsGlobal"
         var-type="array"
         ng-model="globalSettings.excludedUserAgentsGlobal"
         title="{{ 'SitesManager_GlobalListExcludedUserAgents_Desc'|translate }}"
         introduction="{{ 'SitesManager_GlobalListExcludedUserAgents'|translate }}"
         inline-help="#excludedUserAgentsGlobalHelp">
    </div>

    <div piwik-field uicontrol="checkbox" name="siteSpecificUserAgentExcludeEnabled"
         ng-model="globalSettings.siteSpecificUserAgentExcludeEnabled"
         title="{{ 'SitesManager_EnableSiteSpecificUserAgentExclude'|translate }}"
         inline-help="{{ 'SitesManager_EnableSiteSpecificUserAgentExclude_Help'|translate:'<a href=\'#excludedUserAgentsGlobal\'>':'</a>' }}">
    </div>

    <div piwik-field uicontrol="checkbox" name="keepURLFragmentsGlobal"
         ng-model="globalSettings.keepURLFragmentsGlobal"
         title="{{ 'SitesManager_KeepURLFragmentsLong'|translate }}"
         introduction="{{ 'SitesManager_KeepURLFragments'|translate }}"
         inline-help="#keepURLFragmentsHelp">
    </div>

    <h3>{{ 'SitesManager_TrackingSiteSearch'|translate }}</h3>

    <p>{{ 'SitesManager_SiteSearchUse' | translate }}</p>
    <div class="alert alert-info">
        {{ 'SitesManager_SearchParametersNote'|translate }} {{ 'SitesManager_SearchParametersNote2'|translate }}
    </div>

    <div piwik-field uicontrol="text" name="searchKeywordParametersGlobal" var-type="array"
         ng-model="globalSettings.searchKeywordParametersGlobal"
         title="{{ 'SitesManager_SearchKeywordLabel'|translate }}"
         inline-help="{{ 'SitesManager_SearchKeywordParametersDesc' | translate }}">
    </div>

    <div ng-hide="customVariablesActivated" class="alert alert-info">
        Note: you could also track your Internal Search Engine Categories, but the plugin Custom Variables is required. Please enable the plugin CustomVariables (or ask your Piwik admin).
    </div>

    <div piwik-field uicontrol="text" name="searchCategoryParametersGlobal" var-type="array"
         ng-show="customVariablesActivated"
         ng-model="globalSettings.searchCategoryParametersGlobal"
         title="{{ 'SitesManager_SearchCategoryLabel'|translate }}"
         inline-help="{{ 'Goals_Optional'|translate }} {{ 'SitesManager_SearchCategoryDesc'|translate }} {{ 'SitesManager_SearchCategoryParametersDesc'|translate }}">
    </div>

    <div piwik-field uicontrol="select" name="defaultTimezone"
         ng-model="globalSettings.defaultTimezone"
         options="timezones"
         title="{{ 'SitesManager_SelectDefaultTimezone'|translate }}"
         introduction="{{ 'SitesManager_DefaultTimezoneForNewWebsites'|translate }}"
         inline-help="#timezoneHelp">
    </div>

    <div piwik-field uicontrol="select" name="defaultCurrency"
         ng-model="globalSettings.defaultCurrency"
         options="currencies"
         title="{{ 'SitesManager_SelectDefaultCurrency'|translate }}"
         introduction="{{ 'SitesManager_DefaultCurrencyForNewWebsites'|translate }}"
         inline-help="{{ 'SitesManager_CurrencySymbolWillBeUsedForGoals' | translate }}">
    </div>

    <div piwik-save-button onconfirm="saveGlobalSettings()"></div>

</div></div>
</div>
