<div ng-class="{'hide_only': !loading && !adminSites.isLoading}">
    <div class="loadingPiwik">
        <img src="plugins/Morpheus/images/loading-blue.gif" alt="{{ 'General_LoadingData'|translate }}" />
        {{ 'General_LoadingData'|translate }}
    </div>
</div>