<div piwik-content-intro>
    <h2
            ng-show="availableTypes"
            piwik-enriched-headline
            help-url="https://matomo.org/docs/manage-websites/"
            feature-name="{{ 'SitesManager_WebsitesManagement'|translate }}">
        {{ 'SitesManager_XManagement'|translate:(availableTypes.length > 1 ? ('General_Measurables'|translate) : ('SitesManager_Sites'|translate)) }}
    </h2>

    <p>
        {{ 'SitesManager_MainDescription'|translate }}

        <span ng-bind-html="'SitesManager_YouCurrentlyHaveAccessToNWebsites'|translate:'<strong>' + totalNumberOfSites + '</strong>'"></span>

        <span ng-show="hasSuperUserAccess">
            <br/>
            <span ng-bind-html="'SitesManager_SuperUserAccessCan'|translate:'<a href=\'#globalSettings\'>':'</a>'"></span>
        </span>
    </p>
</div>