{% if isCustomLogo and customFavicon is defined and customFavicon %}
    <link rel="shortcut icon" href="{{ customFavicon }}"/>
{% else %}
    <link rel="shortcut icon" href="plugins/CoreHome/images/favicon.png"/>
{% endif %}