* {
    margin: 0;
    padding: 0;
}

.topBarElem {
    font-family: arial, sans-serif !important;
    font-size: 13px;
    line-height: 1.33;
}

.piwik-donate-call {
    border: none;
    padding: 0;
    max-width: none;
}
.piwik-donate-call > .piwik-donate-message p {
    margin-left: 0;
}

li {
    margin-top: 10px;
    margin-left: 30px;
}

#oneclickupdate .btn {
    clear:none;
    float:left;
}
form#oneclickupdate {
    min-height: 50px;
}


body#simple .languageSelection {
    color: #4183C4;
    padding-top: 8px;
}

p strong {
    font-weight: 700 !important;
}
strong {
    font-weight: 700 !important;
}