<div>
    {{ 'SitesManager_GlobalExcludedUserAgentHelp1'|translate }}

    <br/><br/>

    {{ 'SitesManager_GlobalListExcludedUserAgents_Desc'|translate }} {{ 'SitesManager_GlobalExcludedUserAgentHelp2'|translate }}
</div>
