{% import _self as local %}

<table class="entityTable system-check" id="systemCheckRequired" piwik-content-table>
    {{ local.diagnosticTable(diagnosticReport.getMandatoryDiagnosticResults()) }}
</table>

<h3>{{ 'Installation_Optional'|translate }}</h3>

<table class="entityTable system-check" id="systemCheckOptional" piwik-content-table>
    {{ local.diagnosticTable(diagnosticReport.getOptionalDiagnosticResults()) }}
</table>

{% macro diagnosticTable(results) %}

    {% set error = constant('Piwik\\Plugins\\Diagnostics\\Diagnostic\\DiagnosticResult::STATUS_ERROR') %}
    {% set warning = constant('Piwik\\Plugins\\Diagnostics\\Diagnostic\\DiagnosticResult::STATUS_WARNING') %}

    {% set errorIcon %} <span class="icon-error"></span> {% endset %}
    {% set warningIcon %} <span class="icon-warning"></span> {% endset %}
    {% set okIcon %} <span class="icon-ok"></span> {% endset %}

    {% for result in results %}
        <tr>
            <td>{{ result.label }}</td>
            <td>
                {% for item in result.items %}

                    {% if item.status == error %}
                        {{ errorIcon }} <span class="err">{{ item.comment|raw }}</span>
                    {% elseif item.status == warning %}
                        {{ warningIcon }} {{ item.comment|raw }}
                    {% else %}
                        {{ okIcon }} {{ item.comment|raw }}
                    {% endif %}

                    <br/>

                {% endfor %}
            </td>
        </tr>
        {% if result.longErrorMessage %}
            <tr>
                <td colspan="2" class="error" style="font-size: small;">
                    {{ result.longErrorMessage|raw }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}

{% endmacro %}
