<div class="system-check-legend">
    <h2>{{ 'Installation_Legend'|translate }}</h2>

    <p>
        <span class="icon-ok"></span>
        {{ 'General_Ok'|translate }}
    </p>
    <p>
        <span class="icon-warning"></span>
        {{ 'General_Warning'|translate }}: {{ 'Installation_SystemCheckWarning'|translate }}
    </p>
    <p>
        <span class="icon-error"></span>
        {{ 'General_Error'|translate }}: {{ 'Installation_SystemCheckError'|translate }}
    </p>
</div>

<p class="next-step">
    <a href="{{ url }}">{{ 'General_RefreshPage'|translate }} &raquo;</a>
</p>
