body {
    font-size: 14px;
}

#installation > .container {
    width: 85% !important;
}

#installation strong {
    font-weight: 700;
}

/* Header */
.header {
    padding: 50px 0 22px;
    margin-bottom: 40px;
    border-bottom: solid 1px #ccc;
}

.content .btn {
    margin-top: 10px;
    margin-bottom: 20px;
}

.header .languageSelection {
    color: #4183C4;
    font-size: 13px;
}

.logo {
    float: left;
}
.logo img {
    max-height: 30px;
}
.logo p {
    font-size: 12px;
    color: grey;
}
.language-selector {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.installation-progress {
    float: right;
    width: 400px;
}
.installation-progress h4 {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.installation-progress h4 small {
    float: right;
    color: #d4291f;
}
.installation-progress .progress {
    margin-bottom: 0;
}

.installation-finished .form-group .checkbox {
    width: 100%;
}

/* Content */
h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 15px;
}
.content p {
    color: #858585;
    margin-bottom: 10px;
}
p.next-step {
    margin-top: 20px;
    margin-bottom: 20px;
}
p.next-step:first-child {
    margin-top: 0;
}

/* This rule is duplicated here from systemCheckPage.less */
.system-check td:first-child {
    width: 40%;
}

/* Form classes that we can't change */
.warning {
    padding: 20px;
    border-radius: 2px;
    margin: 10px;
    color: #E0645D;
    border: 1px solid #D4291F;
}
.warning img {
    vertical-align: bottom;
}

.system-check .icon-ok, .system-check-legend .icon-ok {
    color: #1AA282;
    margin-right: 10px;
}
.system-check .icon-warning, .system-check-legend .icon-warning {
    color: #DF9D27;
    margin-right: 10px;
}
.system-check .icon-error, .system-check-legend .icon-error {
    color: #D73F36;
    margin-right: 10px;
}

.system-check-legend {
    font-size: 13px;
}
