.system-check td:first-child {
    width: 40%;
}

.error {
    color: red;
    font-size: 100%;
    font-weight: bold;
    border: 2px solid red;
    width: 550px;
    padding: 20px;
    margin-bottom: 10px;
}

.error img {
    border: 0;
    float: right;
    margin: 10px;
}

.system-check .icon-ok {
    color: #1AA282;
    margin-right: 10px;
}
.system-check .icon-warning {
    color: #DF9D27;
    margin-right: 10px;
}
.system-check .icon-error {
    color: #D73F36;
    margin-right: 10px;
}

.widgetBody.system-check {
    .icon-ok,
    .icon-warning,
    .icon-error {
        margin-right: 0;
    }

    ul {
        li {
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}

.system-success {
    color: #1AA282 !important;
    font-weight: bold;
}

.system-errors {
    font-weight: bold;
    color: #D73F36 !important;
}

.system-warnings {
    font-weight: bold;
    color: #DF9D27 !important;
}