.pluginDetails {
    font-size: 13px;
    text-align: left;
    line-height: 20px;

    > .row > .col {
        padding-left: 0;
        padding-right: 0;
    }

    #pluginDetailsTabs > .col {
        padding: 0 16px 0 0;
    }

    h3, h4, h5, h6 {
        margin: 20px 0 10px 0;
        color: #000000;
    }

    iframe{
        width:100%;
        border: 0;
        background-image: url('plugins/Morpheus/images/loading-blue.gif');
        background-repeat: no-repeat;
        background-position: center;
    }

    blockquote {
        margin: 20px 0;
        padding-left: 1.5rem;
        border-left: 5px solid #ee6e73;
    }

    .tab-content ul, .tab-content ol {
        list-style: initial;
        padding-left: 20px;
    }

    p, .tab-content ul, .tab-content li {
        text-align: left;
        line-height: 20px;
        list-style: initial;
    }

    #pluginDetailsTabs {
        margin-top: 25px;
    }

    .contentDetails p {
        margin: 0 0 10px;
    }

    .description {
        padding-right: 25px;
    }

    .variationPicker {
        margin-top: 0;
        margin-bottom: 15px;
        input.select-dropdown {
            font-size: 15px;
        }
    }

    .contentDetails a {
        color: @theme-color-link;
        text-decoration: none;
    }

    .download,
    .install {
        padding: 11px 19px;
        font-size: 17.5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        color: #ffffff;
        background-color: #5bb75b;
        display: inline-block;
        text-decoration: none;
    }

    .download:hover,
    .install:hover {
        text-decoration: underline;
    }

    dt {
        line-height: 20px;
    }
    dd {
        margin-left: 10px;
        line-height: 20px;
        color: @theme-color-text-contrast;
    }

    .featuredIcon {
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }

    img {
        max-width: 100%;
    }

}
