.field-name-field-status input.form-text,
.field-name-field-fecha-de-destrucci-n input.form-text {
    font-weight: 800;
    font-size: 2.0em;
    width: 30%;
}

.activo input.form-text {
    color: #393;
}

.destruir input.form-text {
    color: #f00;
}

.obsoleto input.form-text {
    color: #333760;
}