.form-type-textfield.form-disabled input.form-text{
	background-color: #fff;
	background-image: none;
	color: #000;
}

input#edit-field-des-nomb-und-0-value,
input#edit-field-product-name-und-0-value {
	font-weight: 800;
	font-size: 2.0em;
}

.field-name-field-cliente .form-disabled,
.field-name-field-financing-product .form-disabled {
	display: none;
}

fieldset.group-datos-del-cliente .fieldset-wrapper .entityreference-autofill-field {
	display: inline-block;
}