piwik-series-picker {
  display: inline-block;

  .jqplot-seriespicker {
    &:not(.open) {
      opacity: .55;
    }

    > a {
      display: inline-block;
      opacity: 0;
      position: absolute;
    }

    position: relative;
  }

  .jqplot-seriespicker-popover {
    position: absolute;

    top: -3px;
    left: -4px;
  }
}
