<div>
    <input class="control_{{ formField.uiControl }}"
           type="{{ formField.uiControl }}"
           name="{{ formField.name }}"
           ng-list
           ng-model="formField.value"
           piwik-attributes="{{formField.uiControlAttributes}}"
    >
    <label for="{{ formField.name }}" ng-bind-html="formField.title"></label>
</div>