<div>
    <label class="fieldRadioTitle" ng-show="formField.title">{{ formField.title }}</label>
    <p ng-repeat="checkboxModel in formField.availableOptions"
       class="checkbox">
        <input ng-model="formField.checkboxkeys[$index.toString()]"
               value="{{ checkboxModel.key }}"
               ng-change="formField.updateCheckboxArrayValue()"
               piwik-attributes="{{formField.uiControlAttributes}}"
               type="checkbox"
               id="{{ formField.name + checkboxModel.key }}"
               name="{{ checkboxModel.name }}">

        <label for="{{ formField.name + checkboxModel.key }}">{{ checkboxModel.value }}
            <span class="form-description" ng-show="checkboxModel.description">{{ checkboxModel.description }}</span></label>
    </p>
</div>