{% extends 'dashboard.twig' %}

{% set test_piwikUrl='http://demo.matomo.org/' %}
{% set isPiwikDemo %}{{ piwikUrl == 'http://demo.matomo.org/' or piwikUrl == 'https://demo.matomo.org/'}}{% endset %}

{% set headline %}{{ 'General_AboutPiwikX'|translate(piwikVersion) }}{% endset %}

{% block content %}

    <div id="feedback-faq" class="admin">
        <div piwik-content-block
             content-title="{{ headline|e('html_attr') }}"
             feature="{{ 'General_Help'|translate|e('html_attr') }}">
            <p>{{ 'General_PiwikIsACollaborativeProjectYouCanContributeAndDonateNextRelease'|translate(
                "<a href='?module=Proxy&action=redirect&url=https://matomo.org' target='_blank'>",
                "</a>",
                "<a target='_blank' href='?module=Proxy&action=redirect&url=https://matomo.org/get-involved/'>",
                "</a>",
                "<a href='#donate'>",
                "</a>",
                "<a href='?module=Proxy&action=redirect&url=https://matomo.org/team/' target='_blank'>",
                "</a>"
                )|raw }}
            </p>
        </div>

        <div piwik-content-block content-title="{{ 'Feedback_CommunityHelp'|translate|e('html_attr') }}">
            <p> &bull; {{ 'Feedback_ViewUserGuides'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=https://matomo.org/docs/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'Feedback_ViewAnswersToFAQ'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=https://matomo.org/faq/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'Feedback_VisitTheForums'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=https://forum.matomo.org/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'API_LearnAboutCommonlyUsedTerms'|translate(
                '<a href="'~ linkTo({'module':"API",'action':"glossary"}) ~ '#metrics">' ~ 'General_Metrics'|translate ~ '</a>',
                '<a href="'~ linkTo({'module':"API",'action':"glossary"}) ~ '#reports">' ~ 'General_Reports'|translate ~ '</a>')|raw
                }} ({{ 'API_Glossary'|translate }})</p>
        </div>

        <div piwik-content-block content-title="{{ 'Feedback_ProfessionalHelp'|translate|e('html_attr') }}">
            <p>{{ 'Feedback_ProfessionalServicesIntro'|translate }}</p>

            <p>{{ 'Feedback_ProfessionalServicesOfferIntro'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesReviewPiwikSetup'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesOptimizationMaintenance'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesPhoneEmailSupport'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesTraining'|translate }}</p>
            <p> &bull; <a  rel='noreferrer' target='_blank' href='https://matomo.org/recommends/premium-plugins'>{{ 'Feedback_ProfessionalServicesPremiumFeatures'|translate }}</a></p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesCustomDevelopment'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesAnalystConsulting'|translate }}</p>

            <form target="_blank" action="https://matomo.org/support/">
                <input type="hidden" name="pk_campaign" value="App_Help">
                <input type="hidden" name="pk_source" value="Piwik_App">
                <input type="hidden" name="pk_medium" value="App_ContactUs_button">
                <br />
                <input type="submit" class="btn" value="{{ 'Feedback_ContactUs'|translate }}">
            </form>
        </div>

        <div piwik-content-block content-title="Premium products">
            <p>Grow your business, understand your audience better and increase your sales and conversions with a premium plugin:
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/users-flow/'>Users Flow</a>: a visual representation of the most popular paths your users take through your website or app.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/ab-testing-learn-more/'>A/B Testing</a>: compare different versions of your websites or apps and detect the winning variation.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/conversion-funnels'>Funnels</a>: identify and understand where your visitors drop off in your conversion funnels.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/form-analytics/'>Form Analytics</a>: increase conversions and get better leads from your website forms.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/media-analytics-website/'>Video and Audio Analytics</a>: powerful insights into how your audience watches your videos and listens to your audio.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/roll-up-reporting/'>Roll-Up Reporting</a>: aggregate data from multiple websites, apps and shops into a Roll-Up site to gain new insights.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/search-keywords-performance/'>Search Keywords Performance</a>: all keywords searched by your users on Google+Bing+Yahoo into your Matomo reports.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/activity-log/'>Audit log</a>: better security and problem diagnostic with a detailed audit log of Matomo user activities.</p>
            <p> &bull;  <a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/white-label/'>White Label</a>: give your clients access to their analytics reports where all Matomo-branded widgets are removed.</p>
            <p> &bull;  <strong><a rel='noreferrer' target='_blank' href='https://matomo.org/recommends/premium-plugins'>All premium plugins.</a></strong></p>
        </div>

        <div piwik-content-block content-title="{{ 'Feedback_DoYouHaveBugReportOrFeatureRequest'|translate|e('html_attr') }}">
            <p>{{ 'Feedback_HowToCreateTicket'|translate(
            "<a target='_blank' href='?module=Proxy&action=redirect&url=https://developer.matomo.org/guides/core-team-workflow%23submitting-a-bug-report'>",
            "</a>",
            "<a target='_blank' href='?module=Proxy&action=redirect&url=https://developer.matomo.org/guides/core-team-workflow%23submitting-a-feature-request'>",
            "</a>",
            "<a target='_blank' href='?module=Proxy&action=redirect&url=https://github.com/matomo-org/piwik/issues'>",
            "</a>",
            "<a target='_blank' href='?module=Proxy&action=redirect&url=https://github.com/matomo-org/piwik/issues/new'>",
            "</a>"
            )|raw }}</p>
        </div>

        <div class="footer">
            <ul class="social">
                <li>
                    <a target="_blank" href="?module=Proxy&action=redirect&url=https://matomo.org/newsletter/"><img class="icon" src="plugins/Feedback/images/newsletter.png"></a>
                    <a target="_blank" href="?module=Proxy&action=redirect&url=https://matomo.org/newsletter/">Newsletter</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="https://www.facebook.com/Matomo.org"><img class="icon" src="plugins/Feedback/images/facebook.png"></a>
                    <a rel="noreferrer"  target="_blank" href="https://www.facebook.com/Matomo.org">Facebook</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="https://twitter.com/matomo_org"><img class="icon" src="plugins/Feedback/images/twitter.png"></a>
                    <a rel="noreferrer"  target="_blank" href="https://twitter.com/matomo_org">Twitter</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="https://www.linkedin.com/groups?gid=867857"><img class="icon" src="plugins/Feedback/images/linkedin.png"></a>
                    <a rel="noreferrer"  target="_blank" href="https://www.linkedin.com/groups?gid=867857">Linkedin</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="https://github.com/matomo-org/piwik"><img class="icon" src="plugins/Feedback/images/github.png"></a>
                    <a rel="noreferrer"  target="_blank" href="https://github.com/matomo-org/piwik">GitHub</a>
                </li>
            </ul>
            <ul class="menu">
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=https://matomo.org/blog/">Blog</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=https://matomo.org/about/sponsors/">Sponsors</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=https://developer.matomo.org">Developers</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=https://plugins.matomo.org">Marketplace</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=https://matomo.org/thank-you-all/">Credits</a></li>
            </ul>
            <p class="claim"><small>{{ 'Feedback_PrivacyClaim'|translate(
                    "<a target='_blank' href='?module=Proxy&action=redirect&url=https://matomo.org/privacy/'>",
                    "</a>"
                )|raw}}</small></p>
        </div>
    </div>
{% endblock %}
