{% extends 'layout.twig' %}

{% set categoryTitle %}{{ 'CoreAdminHome_Administration'|translate }}{% endset %}

{% set bodyClass = postEvent('Template.bodyClass', 'admin') %}
{% set isAdminArea = true %}

{% block body %}
    {% set topMenuModule = 'CoreAdminHome' %}
    {% set topMenuAction = 'home' %}
    {{ postEvent("Template.header", "admin") }}
    {{ parent() }}
    {{ postEvent("Template.footer", "admin") }}
{% endblock %}

{% block root %}
    {% include "@CoreHome/_topScreen.twig" %}

    <div class="top_controls">
        <div piwik-quick-access ng-cloak class="piwikTopControl borderedControl"></div>

        {% block topcontrols %}
        {% endblock %}

        {% include "@CoreHome/_headerMessage.twig" %}
    </div>

    {% import 'ajaxMacros.twig' as ajax %}
    {{ ajax.requestErrorDiv(emailSuperUser|default(''), areAdsForProfessionalServicesEnabled, currentModule) }}
    {{ postEvent("Template.beforeContent", "admin", currentModule, currentAction) }}

    <div class="page">

        {% if showMenu is not defined or showMenu %}
            {% import '@CoreHome/_menu.twig' as menu %}
            {{ menu.menu(adminMenu, false, 'Menu--admin', currentModule, currentAction) }}
        {% endif %}

        <div class="pageWrap">
            <a name="main"></a>
            {% block notification %}
                {% include "@CoreHome/_notifications.twig" %}
            {% endblock %}
            {% include "@CoreHome/_warningInvalidHost.twig" %}

            <div class="admin" id="content" ng-cloak>

                <div class="ui-confirm" id="alert">
                    <h2></h2>
                    <input role="no" type="button" value="{{ 'General_Ok'|translate }}"/>
                </div>

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>


{% endblock %}
