{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}

    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="libs/jqplot/excanvas.min.js"></script>
    <![endif]-->
{% endblock %}

{% set title %}{{ siteName|raw }}{% if prettyDateLong is defined %} - {{ prettyDateLong }}{% endif %} - {{ 'CoreHome_WebAnalyticsReports'|translate }}{% endset %}

{% block pageDescription %}Web Analytics report for {{ siteName|escape("html_attr") }} - Matomo{% endblock %}

{% set bodyClass = postEvent('Template.bodyClass', 'dashboard') %}

{% block body %}
    {{ postEvent("Template.header", "dashboard") }}
    {{ parent() }}
    {{ postEvent("Template.footer", "dashboard") }}
{% endblock %}

{% block root %}
    {% include "@CoreHome/_warningInvalidHost.twig" %}
    {% include "@CoreHome/_topScreen.twig" %}

    <div class="top_controls">
        <div piwik-quick-access ng-cloak class="piwikTopControl borderedControl"></div>

        {% block topcontrols %}
        {% endblock %}
    </div>

    <div class="ui-confirm" id="alert">
        <h2></h2>
        <input role="yes" type="button" value="{{ 'General_Ok'|translate }}"/>
    </div>

    {{ postEvent("Template.beforeContent", "dashboard", currentModule, currentAction) }}

    <div class="page">

        {% if showMenu is defined and showMenu %}
            <div id="secondNavBar" class="Menu--dashboard z-depth-1">
                <div piwik-reporting-menu></div>
            </div>
        {% endif %}

        <div class="pageWrap" ng-cloak>

            <a name="main"></a>
            {% block notification %}
                {% include "@CoreHome/_notifications.twig" %}
            {% endblock %}

            <div piwik-popover></div>

            {% block content %}
            {% endblock %}

            <div class="clear"></div>
        </div>

    </div>
{% endblock %}
