<!DOCTYPE html>
<html id="ng-app" {% if language is defined %}lang="{{ language }}"{% endif %} ng-app="piwikApp">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>
                {%- block pageTitle -%}
                    {%- if title is defined %}{{ title }} - {% endif %}
                    {%- if categoryTitle is defined %}{{ categoryTitle }} - {% endif %}
                    Matomo
                {%- endblock -%}
            </title>
            <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1"/>
            <meta name="viewport" content="initial-scale=1.0"/>
            <meta name="generator" content="Matomo - free/libre analytics platform"/>
            <meta name="description" content="{% block pageDescription %}{% endblock %}"/>
            <meta name="apple-itunes-app" content="app-id=737216887" />
            {% block meta %}
                <meta name="robots" content="noindex,nofollow">
            {% endblock %}

            {% include "@CoreHome/_favicon.twig" %}
            {% include "@CoreHome/_applePinnedTabIcon.twig" %}
            {% include "_jsGlobalVariables.twig" %}
            {% include "_jsCssIncludes.twig" %}

            {%- if not isCustomLogo %}<link rel="manifest" href="plugins/CoreHome/javascripts/manifest.json">{% endif %}

        {% endblock %}
    </head>
    <body id="{{ bodyId|default('') }}" ng-app="app" class="{{ bodyClass|default('') }}">

    {% block body %}

        {% include "_iframeBuster.twig" %}
        {% include "@CoreHome/_javaScriptDisabled.twig" %}

        <div id="root">
            {% block root %}
            {% endblock %}
        </div>

        <div piwik-popover-handler></div>

        {% include "@CoreHome/_shortcuts.twig" %}

    {% endblock %}

        {% include "@CoreHome/_adblockDetect.twig" %}
    </body>
</html>
