<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow">
	<title>Matomo is undergoing maintenance</title>
	<link rel="shortcut icon" href="%faviconUrl%" />
	<link rel="stylesheet" type="text/css" href="plugins/Morpheus/stylesheets/simple_structure.css" />
</head>
<body id="simple">

<div class="logo">
	<img title="Matomo" alt="Matomo" style="height: 40px;" src="%logoUrl%" />
	<br/>
	<a href='https://matomo.org/'>%piwikTitle%</a>
</div>

<div class="box">

	<div class="header">
		<h1>Matomo is undergoing maintenance</h1>
	</div>

	<div class="content">
        <p>
            We will be back up and running again soon, so please try again later. Your analytics data will continue to be tracked as normal. Thank you for your patience.
        </p>
	</div>

	<div class="footer">
	</div>

</div>

</body>
</html>
