<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow">
	<title>{$HTML_TITLE}</title>
	<link rel="shortcut icon" href="%faviconUrl%" />
	<link rel="stylesheet" type="text/css" href="plugins/Morpheus/stylesheets/simple_structure.css" />
</head>
<body id="simple">

<div class="logo">
	<img title="Matomo" alt="Matomo" style="height: 40px;" src="%logoUrl%"/>
</div>

<div class="box">

	<div class="header">
		<h1>An error occurred</h1>
	</div>

	<div class="content">