.promoWidget {
  // hard coded background color because image has hardcoded background
  background-color: white;

  .promo {
    padding: 10px;
    &:after {
      content: '';
      clear: both;
      visibility: hidden;
    }

    h2 {
      font-size: 20px;
    }
  }
  .text {
    overflow: hidden;
  }
  hr {
    margin: 0;
  }
  .link {
    padding: 20px;
  }
  .btn {
    background: @theme-color-link;
  }
  .icon {
    margin-top:20px;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 20px;
  }
}