
body {
    padding-left: 7px;
}

#standalone strong {
    font-weight: 700;
}

#dashboard {
    margin: 30px -6px 0 -12px;
    width: 100%;
    padding-top: 8px;
}

#Dashboard {
    z-index: 5;
    font-size: 14px;
    cursor: pointer;
    float: left;
    position: relative;
}

#Dashboard > ul > li {
    list-style: square inside none;
}
#Dashboard > ul {
    list-style: square inside none;
    background: #f7f7f7;
    border: 1px solid #e4e5e4;
    padding: 5px 10px 6px 10px;
    border-radius: 4px;
    color: #444;
    height: 18px;
}

#Dashboard:hover ul {
    background: #f1f0eb;
    border-color: #a9a399;
}

#Dashboard > ul > li {
    float: left;
    margin-right: 15px;
}

#Dashboard a {
    color: #444;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
}

#Dashboard > ul > li:hover,
#Dashboard > ul > li:hover a {
    color: #e87500;
}

.top_controls > #Dashboard,
.top_controls > #periodString,
.top_controls > .dashboardSettings {
    margin-left: 0;
    margin-right: 10px;
}

.jqplot-seriespicker-popover {
    top: 0;
}

#ajaxLoading {
    margin: 40px 0 -30px 0;
}