.system.notification {
  .alert;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border: 0 !important;

  // We have to use !important because the default button style is crazy
  .close {
    position: relative;
    top: -5px;
    right: -10px;
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
    float: right;
    font-size: 20px !important;
    font-weight: bold;
    line-height: 20px !important;
    color: inherit !important;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }

  &.notification-success {
    .alert-success;
    background-color: #e8f5e9;
  }
  &.notification-warning {
    .alert-warning;
    background-color: #fff3e0;
  }
  &.notification-danger,
  &.notification-error {
    .alert-danger;
    background-color: #ffebee;
  }
  &.notification-info {
    .alert-info;
    background-color: #e3f2fd;
  }
}