.limitSelection {
  text-align: right;
  position: relative;
  margin-left: 5px;
  min-height: 20px;
  padding-top: 4px;
  vertical-align: top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.limitSelection.hidden {
  display: none;
}

.limitSelection > div {
  .select-wrapper:hover {
    background-color: #edecec;
    border-radius: 2px;
    color: #333;
    cursor: pointer;

    input.select-dropdown {
      color: #333;
    }
    span.caret {
        color: #333 !important;
    }
  }

  .select-wrapper {
    input.select-dropdown {
      height: 36px;
      line-height: 30px;
      font-size: 16px;
      margin-bottom: 0;
      padding-left: 5px;
      width: 42px !important;
      overflow: hidden;
      border: 0;
      transition: all 0s;
      color: #adadad;
      &:hover {
        color: #333;
        border-color: #333;
      }
    }
    span.caret {
      top: 11px;
      right: 4px;
      color: #adadad;
    }
  }

  margin-top: 0;
  display: inline-block;
  width: 47px;
  height: 36px;
}

.widgetpreview-preview,
#dashboardWidgetsArea {
  .limitSelection .select-wrapper span.caret {
    top: 9px;
  }
}
body > .widget {
  .limitSelection .select-wrapper span.caret {
    top: 9px;
  }
}

.limitSelection.disabled > div {
  opacity: 0.5;
  cursor: not-allowed;
  filter: Alpha(opacity=50);
}

.limitSelection.visible > div {
  background-image: url(plugins/Morpheus/images/sort_subtable_asc_light.png)
}

.limitSelection > ul {
  margin-top: 1px;
  overflow: visible;
}

.limitSelection > ul > li {
  cursor: pointer;
  padding: 0 10px 0 4px;
  font-size: 1em;
  font-weight: bold;
  height: 24px;
  margin-top: -48px;
  background-color: @theme-color-background-contrast;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  vertical-align: middle;
  text-align: right;
}

.limitSelection > ul > li.last {
  border-top: 1px solid #ccc;
}

.limitSelection > ul > li:hover {
  background-color: @color-silver-l95;
}

