/* Documentation */
table.dataTable th .columnDocumentation {
  display: none;
  width: 165px;
  text-align: left;
  background: #f7f7f7;
  color: @theme-color-text-light;
  font-size: 11px;
  font-weight: normal;
  border: 1px solid #e4e5e4;
  padding: 5px 10px 6px 10px;
  border-radius: 4px;
  z-index: 150;
  position: absolute;
  box-shadow: 0 0 4px #e4e5e4;
  cursor: default;
}

table.dataTable th .columnDocumentationTitle {
  line-height: 14px;
  padding: 3px 0;
  font-weight: bold;
}

.reportDocumentation {
  display: none;
  background: #f7f7f7;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #e4e5e4;
  margin: 0 0 10px 0;
  padding: 4px 4px 4px 0;
  border-radius: 2px;
}

.reportDocumentation p {
  padding: 5px 10px 6px 10px;
  margin: 0;
  color: @theme-color-text-light;
  font-size: 12px;
}
