
table.dataTable .dataTableRowActions {
  position: absolute;
  display: none;
  overflow: hidden;
  margin-top: -5px;
  background-color: inherit !important;
  z-index: 1000; /* Work around FF bug to make sure it displays over ellipsis */
}

table.dataTable .dataTableRowActions a {
  display: block;
  float: left;
  padding: 6px 4px 6px 0;
  margin: 0;

  .rowActionIcon {
    font-size: 19px;
    color: @color-gray;
    &:hover {
      color: @theme-color-text;
    }
  }
}

table.dataTable .dataTableRowActions a.leftmost {
  padding-left: 4px;
}

table.dataTable .dataTableRowActions a.rightmost {
  padding-right: 8px;
}

table.dataTable .dataTableRowActions a img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 20px;
  max-width: 20px;
  height: 17px;
  max-height: 17px;
}
