/* SUBDATATABLE */
/* a datatable inside another datatable */
table.subDataTable td {
  border: 0;
}

table.subDataTable thead th {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  padding: .3em 1em;
  border: 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

table.subDataTable td.label {
  background-image: none;
}

table.subDataTable td {
  border-bottom: 1px solid #e7e7e7;
  border-left: 0;
}

table.subDataTable td, table.subDataTable td a {
  color: #615B53;
}

table.subDataTable td.label, table.subDataTable td.column {
  color: #2D2A27;
}

table.subDataTable td.label {
  width: 80%;
}

table.subDataTable td.label {
  padding: 5px;
}

/* are the following two supposed to be together? */
.subDataTable.dataTableFeatures {
  padding-top: 0;
  padding-bottom: 5px;
}