a.dropdownConfigureIcon.highlighted {
  color: @theme-color-brand;
}


.tableConfiguration ul.open {
  display: block;
}

.tableConfiguration div.configItem {
  cursor: pointer;
  padding: 16px;
  line-height: 15px;
  color: @theme-color-text-light;
}

.tableConfiguration div.configItem:hover {
  background-color: @color-silver-l95;
}

.tableConfiguration div.configItem span.action {
  padding-top: 8px;
  display: inline-block;
}
