<div ng-show="locationUpdater.geoipDatabaseInstalled" id="geoipdb-update-info">
    <p>
		{{ 'UserCountry_GeoIPUpdaterInstructions'|translate('<a href="http://www.maxmind.com/en/download_files?rId=piwik" _target="blank">','</a>',
        '<a href="http://www.maxmind.com/?rId=piwik">','</a>')|raw }}
        <br/><br/>
		{{ 'UserCountry_GeoLiteCityLink'|translate("<a href='"~geoLiteUrl~"'>",geoLiteUrl,'</a>')|raw }}

		<span ng-show="locationUpdater.geoipDatabaseInstalled">
			<br/><br/>{{ 'UserCountry_GeoIPUpdaterIntro'|translate }}:
		</span>
	</p>

	<div piwik-field uicontrol="text" name="geoip-location-db"
		 ng-model="locationUpdater.locationDbUrl"
		 introduction="{{ 'UserCountry_LocationDatabase'|translate|e('html_attr') }}"
		 title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPLocUrl }}"
		 inline-help="{{ 'UserCountry_LocationDatabaseHint'|translate|e('html_attr') }}">
	</div>

	<div piwik-field uicontrol="text" name="geoip-isp-db"
		 ng-model="locationUpdater.ispDbUrl"
		 introduction="{{ 'UserCountry_ISPDatabase'|translate|e('html_attr') }}"
		 title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPIspUrl }}">
	</div>

	<div piwik-field uicontrol="text" name="geoip-org-db"
		 ng-model="locationUpdater.orgDbUrl"
		 introduction="{{ 'UserCountry_OrgDatabase'|translate|e('html_attr') }}"
		 title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPOrgUrl }}">
	</div>

	<div id="locationProviderUpdatePeriodInlineHelp" class="inline-help-node">
		{% if lastTimeUpdaterRun is defined and lastTimeUpdaterRun is not empty %}
			{{ 'UserCountry_UpdaterWasLastRun'|translate(lastTimeUpdaterRun)|raw }}
		{% else %}
			{{ 'UserCountry_UpdaterHasNotBeenRun'|translate }}
		{% endif %}
		<br/><br/>
		<div id="geoip-updater-next-run-time">
			{% include "@UserCountry/_updaterNextRunTime.twig" %}
		</div>
	</div>

	<div piwik-field uicontrol="radio" name="geoip-update-period"
		 ng-model="locationUpdater.updatePeriod"
		 introduction="{{ 'UserCountry_DownloadNewDatabasesEvery'|translate|e('html_attr') }}"
		 value="{{ geoIPUpdatePeriod }}"
		 options="{{ updatePeriodOptions|json_encode }}"
		 inline-help="#locationProviderUpdatePeriodInlineHelp">
	</div>

	<input type="button"
		   class="btn"
		   ng-click="locationUpdater.saveGeoIpLinks()"
		   ng-value="locationUpdater.buttonUpdateSaveText"/>

	<div>
		<div id="done-updating-updater"></div>
		<div id="geoipdb-update-info-error"></div>
		<div piwik-progressbar
			 progress="locationUpdater.progressUpdateDownload"
			 label="locationUpdater.progressUpdateLabel"
			 ng-show="locationUpdater.isUpdatingGeoIpDatabase"></div>
	</div>
</div>
