.diagnostics.configfile {
  .custom-value {
    background-color: @theme-color-background-tinyContrast;
  }

  .defaultValue {
    font-style: italic;
  }

  td.name {
    max-width: 330px;
    word-wrap: break-word;
    width: 25%;
  }

  td.value {
    word-wrap: break-word;
    max-width: 400px;
    width: 25%;
  }

  td.description {
    word-wrap: break-word;
    word-break: break-word;
  }

}
