<div class="sitesManagerList">

    <div ng-repeat="site in adminSites.sites" ng-include="'plugins/SitesManager/templates/dialogs/dialogs.html?cb=' + cacheBuster"></div>

    <p ng-if="adminSites.searchTerm && 0 === adminSites.sites.length && !adminSites.isLoading">
        {{ 'SitesManager_NotFound'|translate }} <strong>{{ adminSites.searchTerm }}</strong>
    </p>

    <div ng-controller="SitesManagerSiteController" ng-repeat="site in adminSites.sites"
         ng-include="'plugins/SitesManager/templates/sites-list/site-fields.html?cb=' + cacheBuster">
    </div>

</div>
