<div class="form-group">
    <label>{{ 'Actions_SubmenuSitesearch'|translate }}</label>
    <div class="form-help">
        {{ 'SitesManager_SiteSearchUse'|translate }}
    </div>
    <select ng-options="option.key as option.value for option in siteSearchOptions" ng-model="site.sitesearch"></select>
</div>

<div ng-if="site.sitesearch">

    <div ng-show="globalSettings.searchKeywordParametersGlobal.length" class="form-group">

        <label class="checkbox">
            <input type="checkbox" ng-model="site.useDefaultSiteSearchParams">

            <span ng-show="hasSuperUserAccess"
                  ng-bind-html="'SitesManager_SearchUseDefault'|translate:'<a href=\'#globalSettings\'>':'</a>'">
            </span>
            <span ng-hide="hasSuperUserAccess">
                {{ 'SitesManager_SearchUseDefault' | translate:'':'' }}
            </span>
        </label>

        <span ng-show="site.useDefaultSiteSearchParams" class="form-description">

            {{ 'SitesManager_SearchKeywordLabel' | translate }}
            ({{ 'General_Default' | translate }}) :

            <span ng-repeat="param in globalSettings.searchKeywordParametersGlobal">
                {{ param }}<span ng-show="!$last">, </span>
            </span>

            <span ng-show="globalSettings.searchCategoryParametersGlobal.length">
                & {{ 'SitesManager_SearchCategoryLabel' | translate }} :
                <span ng-repeat="param in globalSettings.searchCategoryParametersGlobal">
                    {{ param }}<span ng-show="!$last">, </span>
                </span>
            </span>

        </span>

    </div>

    <div ng-hide="site.useDefaultSiteSearchParams">

        <div class="form-group">
            <label>{{ 'SitesManager_SearchKeywordLabel' | translate }}</label>
            <div class="form-help">
                {{ 'SitesManager_SearchKeywordParametersDesc' | translate }}
            </div>
            <input ng-list ng-model="site.sitesearch_keyword_parameters">
        </div>

        <div ng-show="customVariablesActivated" class="form-group">
            <label>{{ 'SitesManager_SearchCategoryLabel' | translate }}</label>
            <div class="form-help">
                {{ 'Goals_Optional' | translate }} {{ 'SitesManager_SearchCategoryParametersDesc' | translate }}
            </div>
            <input ng-list ng-model="site.sitesearch_category_parameters">
        </div>

    </div>

</div>
