
#root {
  #logo {
    padding-left: 16px;
    padding-top: 4px;

    img {
      max-height: 30px;

      &.default-piwik-logo {
        width: 144px;
      }
    }

  }

  #logo > a {
    text-decoration: none;
  }
}

// IE 10+
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root #logo {
    width: 80px;
  }
  #root #logo img.default-piwik-logo {
    width: 100%;
  }
}

#javascriptDisabled,
#javascriptDisabled a {
  font-weight: bold;
  color: #F88D22;
  padding: 15px;
  clear: both;
}
