/* About Piwik box top right */
#header_message {
  z-index: 0;
  cursor: default;
  float: right;
  display: block;
  height: 20px;
  font-size: 14px;
  border-radius: 4px;

  &.update_available:not(.isPiwikDemo) .title {
    color: #CA8100;
    font-weight: bold;
    cursor: default;
  }

  .icon-warning {
    padding-left: 2px;
  }
}

#header_message:hover,
#header_message.active {
  width: auto;
  height: auto;
  z-index: 150;
}

#header_message .dropdown {
  font-size: 12px;
  margin-top: 0px;
  border-top:5px solid #edecec;
  box-shadow: 8px 6px 7px 0px rgba(0, 0, 0, 0.3);
}

#header_message .header_short {
  display: block;
  white-space: nowrap;
}

#header_message .header_full {
  display: none;
}

#header_message:hover .header_short,
#header_message.active .header_short {
  display: none;
}

#header_message:hover .header_full,
#header_message.active .header_full {
  display: block;
}

.header_full {
  padding-bottom: 5px;
  line-height: 1.7em;
}

.header_info, .header_info  a {
  color: @theme-color-text-light;
}
