.loadingPiwik {
  font-size: 1.1em;
  color: @theme-color-text-light;
  padding: 0.5em;
}

.loadingPiwik img {
  margin-right: 5px;
}

.loadingSegment {
  color: @color-silver-l60;
  font-size: 13px;
  margin-left: 28px;
  display:none;
}

#root > #loadingError {
  margin-left: 20px;
  margin-right: 20px;
}

#loadingError {
  font-size: 15px;
  padding: 8px 0;
  display: none;
  color: @theme-color-brand;
  font-weight: normal;
}