.ratefeatureDialog {
  text-align: center;

  textarea {
    margin-top: 5px;
    width: 100%;
    height: 80px;
  }
}

.ratefeature {

  font-size: 1px;

  .iconContainer {
    display: inline-block;
  }

  .dislike-icon,
  .like-icon {
    opacity: 0.2;
    width: 22px;
    height: 22px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}