<div class="progressbar">
    <div class="progress">
        <div class="determinate" style="width: 0"
             ng-style="{width: (progress + '%')}"></div>
    </div>
    <span ng-show="!!label"><img src='./plugins/Morpheus/images/loading-blue.gif'/> <span ng-bind-html="label"></span></span>
</div>