<div class="visitor-profile-summary visitor-profile-customvariables">
    <h1>{{ 'CustomVariables_CustomVariables'|translate }} ({{ scopeName }})</h1>
    <div>
        {%- for variable in variables -%}
            <p>
                <span>{{ variable.name }}: </span>
                {%- for value in variable.values -%}
                    <strong title="{{ value.count }}x">{{ value.value }}</strong>{% if not loop.last %}, {% endif %}
                {%- endfor -%}
            </p>
        {%- endfor -%}
    </div>
</div>
