<div class="visitorCustomVariables">
    {% for id,customVariable in visitInfo.getColumn('customVariables') %}
        {% set name='customVariableName' ~ id %}
        {% set value='customVariableValue' ~ id %}
        <br/>
        <abbr class="visitorLogTooltip" title="{{ 'CustomVariables_CustomVariables'|translate }} ({{ 'CustomVariables_Index'|translate }} {{ id }})">
            {{ customVariable[name]|truncate(30) }}
        </abbr>
        {% if customVariable[value]|length > 0 %}: {{ customVariable[value]|truncate(50) }}{% endif %}
    {% endfor %}
</div>