<div id="visitsTotal">
    <table class="dataTable" cellspacing="0">
        <thead>
        <tr>
            <th id="label" class="sortable label first" style="cursor: auto;">
                <div id="thDIV">{{ 'General_Date'|translate }}</div>
            </th>
            <th id="label" class="sortable label" style="cursor: auto;">
                <div id="thDIV">{{ 'General_ColumnNbVisits'|translate }}</div>
            </th>
            <th id="label" class="sortable label" style="cursor: auto;">
                <div id="thDIV">{{ 'General_Actions'|translate }}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="">
            <td class="label column">{{ 'Live_LastHours'|translate(24) }}</td>
            <td class="column">{{ visitorsCountToday|number }}</td>
            <td class="column">{{ pisToday|number }}</td>
        </tr>
        <tr class="">
            <td class="label column">{{ 'Live_LastMinutes'|translate(30) }}</td>
            <td class="column">{{ visitorsCountHalfHour|number }}</td>
            <td class="column">{{ pisHalfhour|number }}</td>
        </tr>
        </tbody>
    </table>
</div>
