{% for visitInfo in visits.getRows() %}
<li data-number="{{ startCounter }}">
    <div>
        <div class="visitor-profile-visit-title" data-idvisit="{{ visitInfo.getColumn('idVisit') }}" title="{{ 'Live_ClickToViewMoreAboutVisit'|translate }}">
            {{ 'General_Visit'|translate }} #{{ startCounter }}

            <span class="visitor-profile-date" title="{{ visitInfo.getColumn('serverDatePrettyFirstAction') }} {{ visitInfo.getColumn('serverTimePrettyFirstAction') }}">
                {{ visitInfo.getColumn('serverDatePrettyFirstAction') }} {{ visitInfo.getColumn('serverTimePrettyFirstAction') }}
            </span>
        </div>
        <div class="visitor-profile-visit-details-extended">
            {{ postEvent('Live.renderVisitorDetails', visitInfo) }}
        </div>
        <div class="visitor-profile-visit-details">
            {{ postEvent('Live.renderVisitorIcons', visitInfo) }}
            <a href="#" class="visitor-profile-show-actions">
                {% set actionCount = visitInfo.getColumn('actionDetails')|length %}
                {% if visitInfo.truncatedActionsCount is defined %}
                    {% set actionCount = actionCount + visitInfo.truncatedActionsCount %}
                {% endif %}
                {% if visitInfo.getColumn('visitDuration') != 0 %}
                    {{ 'Live_ActionsAndDuration'|translate(actionCount, visitInfo.getColumn('visitDurationPretty')) }}
                {% else %}
                    {{ actionCount }} {{ 'General_Actions'|translate }}
                {% endif %}
            </a>
        </div>
        <ol class="visitorLog visitor-profile-actions">
            {% include "@Live/_actionsList.twig" with {'actionDetails': visitInfo.getColumn('actionDetails'),
                                                       'visitInfo': visitInfo} %}
        </ol>
    </div>
</li>
{% set startCounter = startCounter - 1 %}
{% endfor %}