// bar graph colors
.bar-graph-colors[data-name=grid-background] {
  color: @theme-color-background-contrast;
}

.bar-graph-colors[data-name=grid-border] {
  color: #f00;
}

.bar-graph-colors[data-name=grid-border] {
  color: @theme-color-background-highContrast;
}

.bar-graph-colors[data-name=series1] {
  color: @graph-colors-data-series1;
}

.bar-graph-colors[data-name=series2] {
  color: @graph-colors-data-series2;
}

.bar-graph-colors[data-name=series3] {
  color: @graph-colors-data-series3;
}

.bar-graph-colors[data-name=series4] {
  color: @graph-colors-data-series4;
}

.bar-graph-colors[data-name=series5] {
  color: @graph-colors-data-series5;
}

.bar-graph-colors[data-name=series6] {
  color: @graph-colors-data-series6;
}

.bar-graph-colors[data-name=series7] {
  color: @graph-colors-data-series7;
}

.bar-graph-colors[data-name=series8] {
  color: @graph-colors-data-series8;
}

.bar-graph-colors[data-name=ticks] {
  color: #ccc;
}

.bar-graph-colors[data-name=single-metric-label] {
  color: @theme-color-text-lighter;
}

// pie graph colors
.pie-graph-colors[data-name=grid-background] {
  color: @theme-color-background-contrast;
}

.pie-graph-colors[data-name=grid-border] {
  color: @theme-color-background-highContrast;
}

.pie-graph-colors[data-name=series1] {
  color: @graph-colors-data-series1;
}

.pie-graph-colors[data-name=series2] {
  color: @graph-colors-data-series2;
}

.pie-graph-colors[data-name=series3] {
  color: @graph-colors-data-series3;
}

.pie-graph-colors[data-name=series4] {
  color: @graph-colors-data-series4;
}

.pie-graph-colors[data-name=series5] {
  color: @graph-colors-data-series5;
}

.pie-graph-colors[data-name=series6] {
  color: @graph-colors-data-series6;
}

.pie-graph-colors[data-name=series7] {
  color: @graph-colors-data-series7;
}

.pie-graph-colors[data-name=series8] {
  color: @graph-colors-data-series8;
}

.pie-graph-colors[data-name=ticks] {
  color: #ccc;
}

.pie-graph-colors[data-name=single-metric-label] {
  color: @theme-color-text-light;
}

//line chart colors

// evolution graph colors

.evolution-graph-colors[data-name=series1] {
  color: @graph-colors-data-series1;
}

.evolution-graph-colors[data-name=series2] {
  color: @graph-colors-data-series2;
}

.evolution-graph-colors[data-name=series3] {
  color: @graph-colors-data-series3;
}

.evolution-graph-colors[data-name=series4] {
  color: @graph-colors-data-series4;
}

.evolution-graph-colors[data-name=series5] {
  color: @graph-colors-data-series5;
}

.evolution-graph-colors[data-name=series6] {
  color: @graph-colors-data-series6;
}

.evolution-graph-colors[data-name=series7] {
  color: @graph-colors-data-series7;
}

.evolution-graph-colors[data-name=series8] {
  color: @graph-colors-data-series8;
}

.evolution-graph-colors[data-name=ticks] {
  color: #ccc;
}

.evolution-graph-colors[data-name=grid-background] {
  color: #fff;
}

.evolution-graph-colors[data-name=grid-border] {
  color: #f00;
}

.evolution-graph-colors[data-name=ticks] {
    color: #ccc;
}

.evolution-graph-colors[data-name=single-metric-label] {
    color: @theme-color-text-lighter;
}

