code {
    padding: 2px 4px;
    font-size: 90%;
    color: @theme-color-code;
    background-color: @theme-color-code-background;
    border-radius: 4px;
}

// The .codeblock class is useful to style <textarea> like a code block
pre, .codeblock {
    font-size: 13px;
    color: @theme-color-code;
    background-color: @theme-color-code-background;
    border: none;
    border-radius: 3px;
    direction: ltr;
    margin: 15px 0;
    padding: 20px;
    text-align: left;
    height: auto;
    display: block;
    width: 100%;
}
