.ui-dialog-title {
    color: @theme-color-text;
    font-weight: normal;
    img {
        height: 16px;
    }
}

.ui-dialog .ui-widget-header {
    color: @theme-color-text;
    .font-default(18px, 24px);
    font-weight: bold;
}

#feedback-sent {
    a {
        color: @theme-color-link;
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0px !important;
    .ui-icon {
        .opacity(0.5);
    }
    &:hover {
        .opacity(1);
        background: none !important;
    }
}

button.ui-state-default, .ui-widget-content button.ui-state-default, .ui-widget-header button.ui-state-default {
  &:hover {
    background: @theme-color-brand !important;
  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 0px !important;
}

.ui-menu .ui-menu-item a.ui-state-focus {
    background: @color-silver-l90;
}
