// Bootstrap component
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: @theme-color-background-tinyContrast;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    border-radius: 10px;
    border: solid 1px @theme-color-border;
    padding: 4px;
}

// Bar of progress
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: @theme-color-brand-contrast;
    text-align: center;
    background-color: @theme-color-brand;
    border-radius: 6px;
}
