.row {
    .tabs {
        .indicator {
            background-color: @theme-color-link;
        }
        .tab {
            a {
                &:hover {
                    color: @theme-color-link;
                    opacity: 0.7;
                }
                color: @theme-color-link;
            }
        }
    }
    .tab-content {
        padding: 24px 24px 16px 0 !important;
        a {
            color: @theme-color-link;
            text-decoration: none;
        }
    }
}