body .ui-tooltip,
body .ui-tooltip.Transitions_Tooltip_Small {
    border: 0px !important;
    background: #000000 !important;
    box-shadow: none !important;
    .border-radius(3px);
    .ui-tooltip-content {
        background: #000000;
        color: @color-silver-l90;
        padding: 5px;
    }
    h1, h2, h3, h4, h5 {
        font-weight: normal;
        color: @color-white;
    }
}

.columnDocumentation {
    border: 0px !important;
    background: #000000 !important;
    color: @color-silver-l60;
    .font-default(12px, 16px);
    padding: 7px 10px 8px 10px;
    text-transform: none !important;
    .columnDocumentationTitle {
        color: #fff;
        font-weight: normal !important;
        margin-bottom: 2px;
    }
}