.widgetize {
    width: 100%;
    font-size: 13px;

  .top_controls {
    padding-bottom: 16px;
    margin-top: 16px;
  }

  #widgetPreview {
    margin-top: 16px;
  }
}

.widgetize .formEmbedCode {
    font-size: 11px;
    text-decoration: none;
    background-color: #FBFDFF;
    border: 1px solid #ECECEC;
    width: 220px;
}

.widgetize label {
    color: @theme-color-text-lighter;
    line-height: 18px;
    margin-right: 5px;
    font-weight: bold;
    padding-bottom: 100px;
}

#embedThisWidgetIframe {
    margin-top: 16px;
}

body>.widget {
  margin: 10px 7px;
  overflow: visible;

  strong {
    font-weight: 700;
  }
}

body.widgetized {
  background-color: @theme-color-widget-exported-background-base;
}