<div class="visitorProvider">
    <br />
    {{ 'Provider_ColumnProvider'|translate }}:
    {% if visitInfo.getColumn('providerUrl') %}
        <a href="{{ visitInfo.getColumn('providerUrl') }}" rel="noreferrer" target="_blank" class="visitorLogTooltip" title="{{ visitInfo.getColumn('providerName') }} {{ visitInfo.getColumn('providerUrl') }}" style="text-decoration:underline;">
    {%- endif %}
        {{ visitInfo.getColumn('providerName') }}
    {%- if visitInfo.getColumn('providerUrl') %}</a>{% endif %}
</div>