<div class="card">
    <div class="card-content">
        <h2 ng-if="contentTitle && !feature && !helpUrl && !helpText" class="card-title">{{contentTitle}}</h2>
        <h2 ng-if="contentTitle && (feature || helpUrl || helpText)" class="card-title"
              piwik-enriched-headline feature-name="{{feature}}" help-url="{{helpUrl}}" inline-help="{{ helpText }}">
            {{contentTitle}}</h2>
        <div ng-transclude>
        </div>
    </div>
</div>