.manageCustomVars {
    .unused {
        color: @color-silver;
    }

    table, p {
        width: 900px;
    }

    .alert-info {
        margin-top: 15px;
    }

    .scope, .index {
        width: 90px;
        max-width: 90px;
    }
}