{% set fontStyle = "color:#0d0d0d;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, 'Helvetica Neue', sans-serif; "%}
{% set styleParagraph = 'font-size:15px;line-height:24px;margin:0 0 16px;' %}

<html style="background-color:#edecec">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="generator" content="Matomo Analytics">
</head>

<body style="{{fontStyle}} line-height: 24px; margin:0 auto; max-width:1000px; background-color:rgb(255, 255, 255);box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);">

  <a name="reportTop"></a>

  <table style="width:100%; background-color:#37474f; padding:10px 0; margin: 0 0 25px 0; height:64px;">
    <tr>
      <td>
          <a style="font-size:16px;padding:0 15px;color:#ffffff;height: 22px;display: inline-block;vertical-align: inherit;" rel="noreferrer" target="_blank" href="{{ piwikUrl }}" style="lineheight:17px">
              {% if isCustomLogo and logoHeader %}
                <img src="{{ logoHeader }}" height="20px" width="auto" />
              {% else %}
                  <img src="{{ piwikUrl }}/plugins/Morpheus/images/logo-email.png" height="20px" width="auto" alt="Matomo, {{ 'General_OpenSourceWebAnalytics'|translate }}" />
              {% endif %}
          </a>
      </td>
      <td align="right">
          <a style="font-size:16px; padding:0 15px; color:#ffffff" title="{{'Dashboard_TopLinkTooltip'|translate(websiteName)}}" target="_blank" href="{{ piwikUrl }}{{ linkTo({'module': 'CoreHome', 'action': 'index', 'idSite': idSite, 'period': period, 'date': date, 'token_auth': null, 'method': null, 'idReport': null, 'outputType': null, 'format': null})|raw }}">
              {{ 'Dashboard_Dashboard'|translate }}
          </a>
      </td>
    </tr>
  </table>

  <div style="margin:0 20px;">
    <h2 style='{{fontStyle}} color:#37474f; line-height:30px; margin:25px 0 15px 0;'>
        {{'ScheduledReports_EmailHello'|translate}}
    </h2>

    <p style='{{styleParagraph}}{{fontStyle}}'>
        {% if isAttachedFile is defined and isAttachedFile %}
        {{ 'ScheduledReports_PleaseFindAttachedFile'|translate(frequency, reportTitle) }}
        {% else %}
        {{'ScheduledReports_PleaseFindBelow'|translate(period,reportTitle)}}
        {% endif %}
        <br />{{ description }}
        <br />{{ 'General_DateRange'|translate }} {{ prettyDate }}
        <br />{{ 'ScheduledReports_SentFromX'|translate(piwikUrl) }}
    </p>

    {% if displaySegment %}
        <p style="{{styleParagraph}}{{fontStyle}}">
            {{ 'ScheduledReports_CustomVisitorSegment' }} {{ segmentName }}
        </p>
    {% endif %}

    {% if reportMetadata|length > 1 %}
        <h2 style="{{fontStyle}}font-weight:normal; font-size: {{ reportTitleTextSize }}pt;">
            {{ 'ScheduledReports_TableOfContent'|translate }}
        </h2>
        <ul>
            {% for metadata in reportMetadata %}
                <li>
                    <a href="#{{ metadata.uniqueId }}" style="text-decoration:none; color: rgb({{ reportTextColor }});">
                        {{ metadata.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
