.admin img {
    vertical-align: middle;;
}

.admin h2 + .top_bar_sites_selector {
    margin-top: -62px;
    margin-right: 0 !important;
}

// hide PHP is deprecated notification in UI test
.uiTest [notification-id="DeprecatedPHPVersionCheck"],
.uiTest [notification-id="PHPVersionTooOldForNewestPiwikCheck"]{
    display: none !important;
}

#content.admin {
    font-size: 13px;
    margin-top: 0;

    // Fix the <pre> blocks because of the display: table
    pre {
        max-width: 995px;
    }
}

.admin #header_message {
    margin-top: 8px;
    margin-right: 8px;
}

.access_error {
    font-size: .7em;
    padding: 15px;
}

.admin p, .admin section {
    margin-top: 10px;
    line-height: 140%;
    padding-bottom: 10px;
}

/* trusted host styles */
#trustedHostSettings input:not(.btn) {
    width: 238px;
}

#trustedHostSettings li {
    padding-bottom: 6px;
}

#trustedHostSettings .add-trusted-host-container,
#corsSettings .add-cors-host-container {
    padding: 12px 24px;
}
