#image-link-output-section .codeblock {
    height: 92px;
}

.jsTrackingCodeWebsite .input-field,
#image-tracking-code-options .input-field {
    margin-top: 0;
}

#image-tracking-goal-sub .row,
#javascript-tracking-visitor-cv .row,
#js-campaign-query-param-extra .row {
    margin-bottom: 0;
}

#javascript-tracking-visitor-cv > .row {
    margin-left: 37px;
}

#image-tracking-goal-sub > .row,
#js-campaign-query-param-extra > .row {
    margin-left: 24px;
}

#image-tracking-goal-sub .input-field,
#js-campaign-query-param-extra .input-field {
    margin-top: 0;
}
