@theme-color-background-base:          #edecec;
@theme-color-background-tinyContrast:  #f2f2f2;
@theme-color-background-lowContrast:   @color-silver-l85;
@theme-color-background-contrast:      #ffffff;
@theme-color-background-highContrast:  #202020;

@theme-color-border: @color-silver-l80;

@theme-color-code: #F3F3F3;
@theme-color-code-background: #4D4D4D;

@theme-color-widget-background: @theme-color-background-contrast;
@theme-color-widget-border:     @theme-color-background-tinyContrast;
