
.example, .example A {
    color: #9E9E9E;
}

.page_api {
    padding: 0 15px 0 15px;
}

.page_api p {
    line-height: 140%;
    padding-bottom: 20px;
}

.apiFirstLine {
    font-weight: bold;
    padding-bottom: 10px;
}

.page_api ul {
    list-style: disc outside none;
    margin-left: 25px;
}

.apiDescription {
    line-height: 1.5em;
    padding-bottom: 1em;
}

.apiMethod {
    margin-bottom: 5px;
    margin-left: 20px;
}