<section class="card">
<div class="UserCountryMap card-content" style="position:relative; overflow:hidden;">
    <div class="UserCountryMap_container">
        <div class="UserCountryMap_map" style="overflow:hidden;"></div>
        <div class="UserCountryMap-overlay UserCountryMap-title">
            <div class="content">
                <!--<div class="map-title" style="font-weight:bold; color:#9A9386;"></div>-->
                <div class="map-stats" style="color:#565656;"></div>
            </div>
        </div>
        <div class="UserCountryMap-overlay UserCountryMap-legend">
            <div class="content">
            </div>
        </div>
        <div class="UserCountryMap-tooltip UserCountryMap-info">
            <div class="content unlocated-stats" data-tpl="{{ 'UserCountryMap_Unlocated'|translate }}">
            </div>
        </div>
        <div class="UserCountryMap-info-btn" data-tooltip-target=".UserCountryMap-tooltip"></div>
    </div>
    <div class="mapWidgetStatus">
        {% if noData %}
            <div class="pk-emptyDataTable">{{ 'CoreHome_ThereIsNoDataForThisReport'|translate }}</div>
        {% else %}
            <span class="loadingPiwik">
                <img src="plugins/Morpheus/images/loading-blue.gif" />
                {{ 'General_LoadingData'|translate }}...
            </span>
        {% endif %}
    </div>
    <div class="dataTableFeatures" style="padding-top:0;">
        <div class="dataTableFooterIcons">
            <div class="dataTableFooterWrap" var="graphVerticalBar">
                <img class="UserCountryMap-activeItem dataTableFooterActiveItem" src="plugins/Morpheus/images/data_table_footer_active_item.png" style="left: 25px;" />

                <div class="tableIconsGroup">
                    <span class="tableAllColumnsSwitch">
                        <a class="UserCountryMap-btn-zoom tableIcon" format="table">
                            <img src="plugins/Morpheus/images/zoom-out.png" title="Zoom to world" />
                        </a>
                    </span>
                </div>
                <div class="tableIconsGroup UserCountryMap-view-mode-buttons">
                    <span class="tableAllColumnsSwitch">
                        <a var="tableAllColumns" class="UserCountryMap-btn-region tableIcon activeIcon" format="tableAllColumns"
                           data-region="{{ 'UserCountryMap_Regions'|translate }}" data-country="{{ 'UserCountryMap_Countries'|translate }}">
                            <img src="plugins/UserCountryMap/images/regions.png" title="Show visitors per region/country" />
                            <span style="margin:0;">{{ 'UserCountryMap_Countries'|translate }}</span>&nbsp;
                        </a>
                        <a var="tableGoals" class="UserCountryMap-btn-city tableIcon inactiveIco" format="tableGoals">
                            <img src="plugins/UserCountryMap/images/cities.png" title="Show visitors per city" />
                            <span style="margin:0;">{{ 'UserCountryMap_Cities'|translate }}</span>&nbsp;
                        </a>
                    </span>
                </div>
            </div>

            <select class="userCountryMapSelectMetrics browser-default" style="float:right;margin-right:25px;margin-bottom:10px;max-width: 10em;font-size:10px;height: auto;">
                {% for metric in metrics %}
                    <option value="{{ metric[0] }}" {% if metric[0] == defaultMetric %}selected="selected"{% endif %}}>{{ metric[1] }}</option>
                {% endfor %}
            </select>
            <select class="userCountryMapSelectCountry browser-default" style="height: auto;">
                <option value="world">{{ 'UserCountryMap_WorldWide'|translate }}</option>
                <option disabled="disabled">––––––</option>
                {% for code,continent in continents %}
                    <option value="{{ code }}">{{ continent }}</option>
                {% endfor %}
                <option disabled="disabled">––––––</option>
            </select>
        </div>
    </div>
</div>
</section>

{% if not noData %}
<!-- configure some piwik vars -->
<script type="text/javascript">
    var visitorMap,
    config = JSON.parse('{{ config|e('js') }}');
    config._ = JSON.parse('{{ localeJSON|e('js') }}');
    config.reqParams = JSON.parse('{{ reqParamsJSON|e('js') }}');
    config.countryNames = JSON.parse('{{ countriesByIso|json_encode|e('js') }}');

    $('.UserCountryMap').addClass('dataTable');

    if ($('#dashboardWidgetsArea').length) {
        // dashboard mode
        var $widgetContent = $('.UserCountryMap').parents('.widgetContent').first();

        $widgetContent.on('widget:create',function (evt, widget) {
            visitorMap = new UserCountryMap.VisitorMap(config, widget);
        }).on('widget:maximise',function (evt) {
                    visitorMap.resize();
                }).on('widget:minimise',function (evt) {
                    visitorMap.resize();
                }).on('widget:destroy', function (evt) {
                    visitorMap.destroy();
                });
    } else {
        // stand-alone mode
        visitorMap = new UserCountryMap.VisitorMap(config);
    }

</script>
{% endif %}
