#widgetUserCountrygetRegion, #widgetUserCountrygetCountry, #widgetUserCountrygetCity {
    .dataTable .label > img {
        border: 1px solid lightgray;
        box-sizing: content-box;
        margin-top: -1px;
    }
}

input.location-provider {
    cursor: pointer;
}

span.is-installed {
    color: #009874;
}

span.is-broken {
    color: #D4291F;
}

.loc-provider-status {
    margin-left: .5em;
}

#geoipdb-update-info tr input[type="text"], #geoipdb-screen2-update tr input[type="text"] {
    width: 90%;
}

#geoipdb-screen1>div>p {
    line-height: 25px;
    font-size: 18px;
    max-width: 400px;
}

.error {
    font-weight: bold;
    color: red;
    padding: 4px 8px 4px 8px;
}

#done-updating-updater {
    margin-top: 16px;
}