//
// transitions colors
//

// colors for entries gradients
.transition-entries[data-name=light] {
    color: #fff;
}

.transition-entries[data-name=dark] {
    color: #BACFE8;
}

.transition-entries[data-name=light-highlighted] {
    color: #fff;
}

.transition-entries[data-name=dark-highlighted] {
    color: #FAD293;
}

// colors for exits gradients
.transition-exits[data-name=light] {
    color: #fff;
}

.transition-exits[data-name=dark] {
    color: #BACFE8;
}

.transition-exits[data-name=light-highlighted] {
    color: #fff;
}

.transition-exits[data-name=dark-highlighted] {
    color: #FAD293;
}

// background gradients colors
.transition-background[data-name=light] {
    color: #fff;
}

.transition-background[data-name=dark] {
    color: #BACFE8;
}

.transition-background[data-name=light-highlighted] {
    color: #fff;
}

.transition-background[data-name=dark-highlighted] {
    color: #FAD293;
}

// closed group gradient colors
.transition-closed-group[data-name=light] {
    color: #DDE4ED;
}

.transition-closed-group[data-name=dark] {
    color: #9BBADE;
}

.transition-closed-group[data-name=light-highlighted] {
    color: #FAE2C0;
}

.transition-closed-group[data-name=dark-highlighted] {
    color: #FAD293;
}

// items gradient colors
.transition-items[data-name=light] {
    color: #E3DFD1;
}

.transition-items[data-name=dark] {
    color: #E8E4D5;
}

// 'others' gradients colors
.transition-others[data-name=light] {
    color: #F5F3EB;
}

.transition-others[data-name=dark] {
    color: #E8E4D5;
}

// loop gradient colors
.transition-loops[data-name=light] {
    color: #F5F3EB;
}

.transition-loops[data-name=dark] {
    color: #E8E4D5;
}