.jqplot-loading {
    background: url(../../Morpheus/images/loading-blue.gif) no-repeat center center white;
    position: absolute;
    z-index: 10;
}

.jqplot-target {
    position: relative;
    color: #333;
    font-size: 1em;
}

.jqplot-axis {
    font-size: 0.75em;
}

.jqplot-xaxis {
    margin-top: 10px;
}

.jqplot-yaxis {
    margin-right: 10px;
}

.jqplot-y2axis,
.jqplot-y3axis {
    margin: 0 3px 0 7px;
}

.jqplot-axis-tick, .jqplot-xaxis-tick, .jqplot-yaxis-tick {
    position: absolute;
}

.jqplot-xaxis-tick {
    top: 0;
    left: 15px;
    vertical-align: top;
}

.jqplot-yaxis-tick {
    right: 0;
    top: 15px;
    text-align: right;
}

.jqplot-yaxis-tick.jqplot-breakTick {
    right: -20px;
    margin-right: 0;
    padding: 1px 5px 1px 5px;
    z-index: 2;
    font-size: 1.5em;
}

.jqplot-xaxis-label {
    margin-top: 10px;
    font-size: 11pt;
    position: absolute;
}

.jqplot-yaxis-label {
    margin-right: 10px;
    font-size: 11pt;
    position: absolute;
}

.jqplot-title {
    top: 0;
    left: 0;
    padding-bottom: 0.5em;
    font-size: 1.2em;
}

/**
 * ROW EVOLUTION POPUP
 */

.rowevolution {
    position: relative;
    text-align: left;
}

#Piwik_Popover .rowevolution .alert-info {
    margin-left: 0;
}

a.rowevolution-startmulti {
    color: #4183C4 !important;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.rowevolution h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
}

.rowevolution .metrics-container {
    padding: 11px 0 5px 0;
}

.rowevolution table.metrics {
    border-spacing: 0;
}

.multirowevolution table.metrics {
    margin-bottom: 12px;
}

.rowevolution table.metrics,
.multirowevolution table.metrics {
    /* prevent select for shift-click on metric toggles */
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Gecko (Firefox) */
    -khtml-user-select: none; /* Webkit (Safari, Chrome) */
}

.rowevolution table.metrics td.sparkline,
.multirowevolution table.metrics td.sparkline {
    float:none;
}

.rowevolution table.metrics tr {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.rowevolution table.metrics td {
    vertical-align: middle;
    text-align: left;
    margin: 0;
    padding: 4px 0;
    cursor: pointer;
}

.rowevolution table.metrics td.sparkline {
    width: 120px;
}

.multirowevolution table.metrics td.sparkline {
    padding-top: 15px;
}

/** IE7 does not support inline image data, which is needed for spark lines */
*+html .multirowevolution table.metrics td.sparkline,
*+html .rowevolution table.metrics td.sparkline {
    display: none;
}

.rowevolution table.metrics td.text {
    font-size: 13px;
    line-height: 18px;
    color: #7E7363;
    font-weight: bold;
}

.rowevolution table.metrics td.text img {
    max-width: 16px;
    max-height: 16px;
    vertical-align: bottom;
}

.multirowevolution table.metrics td.text {
    padding-top: 8px;
}

.rowevolution table.metrics td.text span.details {
    font-weight: normal;
    color: #444;
}

.rowevolution table.metrics td.text span.change {
    display: block;
    float: left;
    padding-left: 15px;
}

.rowevolution table.metrics td.text span.good {
    color: #008000;
}

.rowevolution table.metrics td.text span.bad {
    color: #f00;
}

.rowevolution .metric-selectbox,
.rowevolution .compare-container {
    padding: 15px 0 5px 0;
}

.rowevolution .metric-selectbox select {
    font-size: 13px;
    color: #444;
    margin: 8px 0 0 0;
    padding: 0;
    display: block;
}

/**
 * SERIES PICKER FOR CHARTS
 */

.jqplot-seriespicker {
    display: block;
    position: absolute;
    z-index: 9;
    width: 24px;
    height: 16px;
    margin-top: 3px;
    background: url(../../Morpheus/images/chart_line_edit.png) no-repeat center center;
}

.jqplot-seriespicker-popover {
    display: block;
    position: absolute;
    z-index: 1010; /* must be above ui dialog */
    margin-top: -2px;
    background: url(../../Morpheus/images/chart_line_edit.png) no-repeat 7px 4px #f7f7f7;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #e4e5e4;
    padding: 6px 9px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    box-shadow: 1px 1px 2px #666;
}

.jqplot-seriespicker-popover p {
    margin: 0;
    padding: 0 4px 0 0;
    line-height: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.jqplot-seriespicker-popover p.headline {
    font-weight: bold;
    font-size: 12px;
    padding: 0 0 6px 22px;
    color: #7E7363;
}

.jqplot-seriespicker-popover p.headline.recordsToPlot {
    padding: 8px 0 3px 0;
}

.jqplot-seriespicker-popover.alignright p.headline {
    padding: 0 22px 6px 0;
}

.jqplot-seriespicker-popover input.select {
    margin-right: 8px;
    min-height: 5px;
}

.jqplot-seriespicker-popover p.pickColumn,
.jqplot-seriespicker-popover p.pickRow {
    cursor: pointer;
}
