<a class="title" title="{{ 'Dashboard_ManageDashboard'|translate|e('html_attr') }}" tabindex="4"><span class="icon icon-arrow-bottom"></span>{{ 'Dashboard_Dashboard'|translate }} </a>
<div class="dropdown positionInViewport">
    <ul class="submenu">
        <li>
            <div class="addWidget">{{ 'Dashboard_AddAWidget'|translate }}</div>
            <ul class="widgetpreview-categorylist"></ul>
        </li>
        {% if dashboardActions|length > 0 %}
            <li>
                <div class="manageDashboard">{{ 'Dashboard_ManageDashboard'|translate }}</div>
                <ul>
                    {% for action, title in dashboardActions %}
                        <li data-action="{{ action }}">{{ title|translate }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% for action, title in generalActions %}
            <li class="generalAction" data-action="{{ action }}">{{ title|translate }}</li>
        {% endfor %}
    </ul>
    <ul class="widgetpreview-widgetlist"></ul>
    <div class="widgetpreview-preview"></div>
</div>
