{% include "@Dashboard/_header.twig" %}
<div class="top_controls">
    {% include "@CoreHome/_periodSelect.twig" %}
    {{ postEvent("Template.nextToCalendar") }}
    {% render dashboardSettingsControl %}
    {% if dashboards|length %}
    <div id="Dashboard" class="piwikTopControl borderedControl piwikSelector">
        <ul>
            {% for dashboard in dashboards %}
                <li id="Dashboard_embeddedIndex_{{ dashboard.iddashboard }}">
                    <a href="#" onclick="$('#dashboardWidgetsArea').dashboard('loadDashboard', {{ dashboard.iddashboard }});"
                       class="item">{{ dashboard.name|escape }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% import 'ajaxMacros.twig' as ajax %}
{{ ajax.loadingDiv }}
{% include "@Dashboard/embeddedIndex.twig" %}
</body>
</html>