.submit {
  clear: both;
  font-size: 18px;
  border: 0;
  float: right;
  margin: 12px 0 10px 0;
  cursor: pointer;
}

/* on admin screen, Save button aligned on the left */
.admin .submit {
  margin-left: 0px;
  margin-top: 20px;
  float: none;
}

.admin .entityContainer .submit {
  margin: 0;
  margin-top: 20px;
}

.entityContainer .link_but {
  white-space: nowrap;
  display: inline-block;
  margin: 0 10px 0 0;
  text-decoration: none;
}

.entityContainer .link_but img {
  white-space: nowrap;
  margin: 0 1px 0 0 !important;
}

/* Add / Edit / List entities */
.entityContainer {
  width: 100%;
  max-width: 900px;
  min-width: 600px;
  font-size: 14px;
}

.entityInlineHelp {
  color: #9B9B9B;
  margin-top: 5px;
  clear: both;
}

/* cancel button below Forms */
.entityCancel {
  padding: 10px 0;
  font-size: 12px;
}
