.form-group {
  margin-bottom: 20px;
  margin-top: 20px;

  label.siteSelectorLabel {
    position: relative;
    top: -7px;
    left: 0;
    font-size: 13px;
  }

  label.fieldRadioTitle {
    padding-bottom: 10px;
    display: inline-block;
    color: #9e9e9e;
    font-size: 13px;

  }

  > h3 {
    padding-bottom: 16px !important;
  }

  .form-help {
    color: #838383;
    background-color: #F5F5F5;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    font-size: 14px;
    position: relative;
  }

  label {
    .form-description {
      font-size: 90%;
      font-style: italic;
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
  }

  .inline-help .inline-help-node {
    display: block;
  }

}


.inline-help-node {
  display: none;
}

.input-field .prefix {
  color: @theme-color-text-lighter;
}

input.browser-default {
  box-sizing: border-box;
  margin: 0;
  height: auto;
}