#topApiRef {
    color: #95AECB;
}

.section-toggler-link {
  font-size: .8em;
  font-style: italic;
  text-decoration: none;
}

.section-toggler-link:hover {
  text-decoration: underline;
}

.metricEvolution {
  display: inline-block;
  font-size: 9pt;
  opacity: 0.75;
}

.metricEvolution > .positive-evolution {
  color: green;
}

.metricEvolution > .negative-evolution {
  color: #e02a3b;
}

.reportsByDimensionView > .entityList {
  float: left;
  width: 208px;
  min-height: 200px;
}

.dimensionCategory {
  margin-top: 16px;
}