/* br clear="all" deprecated */
br.clearAll {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0; /*for IE*/
}

br.clear,
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.centerLargeDiv {
  width: 850px;
  margin: auto;
}

.center {
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}