.piwik-donate-call {
    padding: 13px;
    border: 1px solid #CCC;
    border-radius: 4px;
    max-width: 458px;
    position: relative;
}

#piwik-worth {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin: 0 1em 0 0;
}

.piwik-donate-slider {
    margin: 0 0 1em 1em;
}

.piwik-donate-slider > .slider-range {
    vertical-align: top;
    position: relative;
    display: inline-block;
    border: 1px solid #999;

    background-color: #f7f7f7;

    border-radius: 6px;

    height: 14px;
    width: 270px;
    margin: 22px 8px 0 0;
    cursor: pointer;
}

.piwik-donate-slider .slider-position {
    border: 1px solid #999;
    background-color: #CCC;

    border-radius: 3px;

    height: 18px;
    width: 10px;

    position: absolute;
    top: -3px;
    left: -1px;
}

.piwik-donate-slider .slider-donate-amount {
    display: inline-block;
    padding: .3em .5em .3em .5em;
    margin: 16px 8px 0 0;
    vertical-align: top;
    text-align: center;
    background-color: #CCC;
    color: #333;
    cursor: pointer;
}

.piwik-donate-slider .slider-smiley-face {
    margin: 8px 0 8px 0;
    display: inline-block;
    cursor: pointer;
}

.piwik-donate-call .donate-submit {
    min-height: 55px;
    position: relative;
}

.piwik-donate-call .donate-submit input {
    margin-left: 13px !important;
    border-style: none !important;
    box-shadow: none !important;
    background-image: none;
    padding: 0 !important;
}

.piwik-donate-call .donate-submit a {
    display: inline-block;
    margin-left: 1.2em;
    font-size: 1em;
}

.piwik-donate-call .donate-submit a.donate-spacer {
    margin-bottom:.5em;
    visibility:hidden;
}

.piwik-donate-call .donate-submit a.donate-one-time {
    position: absolute;
    bottom: .5em;
    right: 1.2em;
}

.piwik-donate-call > .piwik-donate-message {
    margin-bottom: .5em;
}

.piwik-donate-call > .piwik-donate-message p {
    margin-left: 0;
}

.piwik-donate-call > .form-description {
    margin-top: 1.25em;
}

.donate-form-instructions {
    font-size: .8em;
    margin: 0 1.25em 0 0;
    color: @theme-color-text-lighter;
}

.widget .piwik-donate-call {
    border-style: none;
}

.widget .piwik-donate-slider > .slider-range {
    width: 205px;
}
