// evolution graph colors
.evolution-graph-colors[data-name=grid-background] {
  color: #fff;
}

.evolution-graph-colors[data-name=grid-border] {
  color: #f00;
}

.evolution-graph-colors[data-name=series1] {
    color: #5170AE;
}

.evolution-graph-colors[data-name=series2] {
    color: #F29007;
}

.evolution-graph-colors[data-name=series3] {
    color: #CC3399;
}

.evolution-graph-colors[data-name=series4] {
    color: #9933CC;
}

.evolution-graph-colors[data-name=series5] {
    color: #80a033;
}

.evolution-graph-colors[data-name=series6] {
    color: #246AD2;
}

.evolution-graph-colors[data-name=series7] {
    color: #FD16EA;
}

.evolution-graph-colors[data-name=series8] {
    color: #49C100;
}

.evolution-graph-colors[data-name=ticks] {
    color: #ccc;
}

.evolution-graph-colors[data-name=single-metric-label] {
    color: @theme-color-text-lighter;
}

// bar graph colors
.bar-graph-colors[data-name=grid-background] {
  color: #fff;
}

.bar-graph-colors[data-name=grid-border] {
  color: #f00;
}

.bar-graph-colors[data-name=series1] {
    color: #5170AE;
}

.bar-graph-colors[data-name=series2] {
    color: #F3A010;
}

.bar-graph-colors[data-name=series3] {
    color: #CC3399;
}

.bar-graph-colors[data-name=series4] {
    color: #9933CC;
}

.bar-graph-colors[data-name=series5] {
    color: #80a033;
}

.bar-graph-colors[data-name=series6] {
    color: #246AD2;
}

.bar-graph-colors[data-name=series7] {
    color: #FD16EA;
}

.bar-graph-colors[data-name=series8] {
    color: #49C100;
}

.bar-graph-colors[data-name=ticks] {
    color: #ccc;
}

.bar-graph-colors[data-name=single-metric-label] {
    color: @theme-color-text-lighter;
}

// pie graph colors
.pie-graph-colors[data-name=grid-background] {
  color: #fff;
}

.pie-graph-colors[data-name=grid-border] {
  color: #f00;
}

.pie-graph-colors[data-name=series1] {
    color: #59727F;
}

.pie-graph-colors[data-name=series2] {
    color: #7DAAC0;
}

.pie-graph-colors[data-name=series3] {
    color: #7F7259;
}

.pie-graph-colors[data-name=series4] {
    color: #C09E7D;
}

.pie-graph-colors[data-name=series5] {
    color: #9BB39B;
}

.pie-graph-colors[data-name=series6] {
    color: #B1D8B3;
}

.pie-graph-colors[data-name=series7] {
    color: #B39BA7;
}

.pie-graph-colors[data-name=series8] {
    color: #D8B1C5;
}

.pie-graph-colors[data-name=series9] {
    color: #A5A5A5;
}

.pie-graph-colors[data-name=ticks] {
    color: #ccc;
}

.pie-graph-colors[data-name=single-metric-label] {
    color: @theme-color-text-lighter;
}
