// sparkline colors
.sparkline-colors[data-name=backgroundColor] {
  color: white;
}

.sparkline-colors[data-name=lineColor] {
    color: rgb(22, 44, 74);
}

.sparkline-colors[data-name=minPointColor] {
    color: #ff7f7f;
}

.sparkline-colors[data-name=lastPointColor] {
    color: #55AAFF;
}

.sparkline-colors[data-name=maxPointColor] {
    color: #75BF7C;
}
