.trackingHelp {
    ul {
        padding-left: 40px;
        list-style-type: square;
        li {
            margin-bottom: 10px;
        }
    }
    h2 {
        margin-top: 20px;
    }
    p {
        text-align: justify;
    }
}

.SitesManager {

    .sitesManagerList {

        .site {
            .title {
                font-size: 11px;
                text-transform: uppercase;
            }
            h4, .link_but {
                color: @theme-color-text;
            }
        }
        .editingSite {
            .editingSiteFooter {
                padding: 15px;
                margin: 0 -15px -15px;
            }
        }
    }

    .visible {
        visibility: visible;
    }
    .hide_only {
        visibility: hidden;
    }

    .search_ico {
        cursor: pointer;
        display: block;
        left: 205px;
        margin: -32px 0 17px -21px;
        position: relative;
    }

    .sitesButtonBar {
        width: 100%;
        text-align: center;
    }
    .bottomButtonBar {
        margin-top: 7px;
    }
    .addSite {
        float: left;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .paging {
        text-align: center;
        display: inline-block;
        min-width: 400px;
        margin-top: 8px;

        .counter {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .search {
        display: inline-block;
        text-align: right;
        float: right;

        input {
            padding-right: 29px;
            width: 205px;
            margin-bottom: 7px;
        }
    }
}

td.editable-site-field:hover {
    cursor: pointer;
}

.link_but:hover {
    cursor: pointer;
}
.link_but:hover > span {
    text-decoration: underline;
}

.site-without-data {
    h2 {
        border-bottom: 1px solid @theme-color-background-tinyContrast;
        margin: 25px 0;
        padding: 0 0 5px 0;
        font-size: 24px;
    }
    h3 {
        margin: 15px 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        color: black;
    }

    p + p {
        margin-top: 10px;
    }
}

#js-visitor-cv-extra th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
}
