<p style="margin-top:3em;margin-bottom:3em" class="alert-info alert">Did you know?
    A Funnel defines a series of actions that you expect your visitors to take on their way to converting a goal.
    <br/>With <a target="_blank" rel="noreferrer" href="https://matomo.org/recommends/conversion-funnel/">Funnels for Matomo</a>,
    you can easily determine your funnel and see where your visitors drop off and how to focus efforts to increase your conversions.
</p>