<div class="promoWidget">
    <div class="promo">
        <a href="{{ ctaLinkUrl|e('html_attr') }}" target="_blank" rel="noreferrer"><img class="icon" src="plugins/ProfessionalServices/images/promo.png"></a>
        <h2>{{ ctaTitle }}</h2>
        <p class="text">
            <span>{{ ctaText }}</span>
            <br /><br />
            <a class="btn" href="{{ ctaLinkUrl|e('html_attr') }}" target="_blank" rel="noreferrer">
                {{ ctaLinkTitle }}
            </a>
        </p>
    </div>
</div>