.goalTopElement {
    border-bottom: 1px dotted;
}

.goalTriggerType .input-field {
    margin-top: 0 !important;
}

.goalEntry {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #7e7363;
    width: 614px;
}

.addEditGoal .goalIsTriggeredWhen,
.addEditGoal .whereTheMatchAttrbiute {
    margin-bottom: 0;
}

/* dimension selector */
#titleGoalsByDimension {
    padding-top: 30px;
}

ul.ulGoalTopElements {
    list-style-type: circle;
    margin-left: 30px;
}

ul.ulGoalTopElements li {
    list-style-type: circle;
}

ul.ulGoalTopElements img {
    border: 1px solid lightgray;
    box-sizing: content-box;
}

.ulGoalTopElements a {
    text-decoration: none;
    color: #0033CC;
    border-bottom: 1px dotted #0033CC;
    line-height: 2em;
}

.goalDescription {
    padding-bottom: 12px;
    color: #999;
}
