.reporting-page {
    > .row {
        margin-bottom: 0;
    }

    .fullWidgetColumn {
        padding-left: 0;
        padding-right: 0;
    }

    .leftWidgetColumn {
        padding-left: 0;
    }

    .rightWidgetColumn {
        padding-right: 0;
    }

    .isFirstWidgetInPage {
        .card {
            margin-top: 0;
        }
    }
}