{% if action.contentName %}

{{ 'Contents_ContentName'|translate }}: {{ action.contentName }}{% endif %}{% if action.contentPiece %}

{{ 'Contents_ContentPiece'|translate }}: {{ action.contentPiece }}{% endif %}{% if action.contentTarget %}

{{ 'Contents_ContentTarget'|translate }}: {{ action.contentTarget }}{% endif %}{% if action.contentInteraction %}

{{ 'Contents_ContentInteraction'|translate }}: {{ action.contentInteraction }}{% endif %}