{% extends 'admin.twig' %}

{% set title %}UI Notification demo{% endset %}

{% block content %}
    <h2>Inline notification example</h2>

    <div style="display:inline-block;margin-top:10px;" id="exampleUI_notifications">
        <div piwik-notification
             notification-title="Info:"
             noclear="true"
             context="info">
            This is an example for an inline notification. Have you noticed the success message disappeared after a few seconds?
        </div>
    </div>
{% endblock %}