{% extends '@CoreUpdater/layout.twig' %}

{% block content %}

    <div class="header">
        <h1>{{ 'CoreUpdater_UpdateSuccessTitle'|translate }}</h1>
    </div>

    <div class="content">
        <h2>Piwik is now Matomo</h2>
        <p>
            <a target='_blank' rel='noreferrer' href='https://matomo.org/blog/2018/01/piwik-is-now-matomo/'>
                <img src='https://matomo.org/wp-content/uploads/2018/01/banner_piwik_is_now_matomo.jpg' width='70%'>
            </a>
        </p>

        <h2>
            {{ 'CoreUpdater_ThankYouUpdatePiwik'|translate }}
        </h2>

        <p>
            {{ 'CoreUpdater_PostUpdateMessage'|translate }}

        </p>

        <h2>
            {{ 'CoreUpdater_PostUpdateSupport'|translate }}
        </h2>

        <div class="row">
            <div class="col s5 offset-s1">
                <a href="https://matomo.org/support/?pk_medium=Update_Success_button&pk_source=Piwik_App&pk_campaign=App_Updated" class="btn btn-block">{{ 'CoreUpdater_ServicesSupport'|translate }}</a>
            </div>
            <div class="col s5">
                <a href="https://www.innocraft.cloud/?pk_medium=App_Cloud_button&pk_source=Piwik_App&pk_campaign=App_Updated" class="btn btn-block">{{ 'CoreUpdater_CloudHosting'|translate }}</a>
            </div>
        </div>

    </div>

    <div class="footer">
        <a href="index.php">{{ 'General_ContinueToPiwik'|translate }}</a>
    </div>

{% endblock %}
