// Gray shapes
// Variable pattern: @color-<color>-<modifier>
@color-black:       #000;
@color-gray:        #ccc;
@color-gray-light:  #f0f0f0;
@color-white:       #fff;
@color-silver:      #999;
@color-silver-l14:  lighten(@color-black, 14%);
@color-silver-l20:  lighten(@color-black, 20%);
@color-silver-l30:  lighten(@color-black, 30%);
@color-silver-l40:  lighten(@color-black, 40%);
@color-silver-l50:  lighten(@color-black, 50%);
@color-silver-l60:  lighten(@color-black, 60%);
@color-silver-l70:  lighten(@color-black, 70%);
@color-silver-l80:  lighten(@color-black, 80%);
@color-silver-l85:  lighten(@color-black, 85%);
@color-silver-l90:  lighten(@color-black, 90%);
@color-silver-l95:  lighten(@color-black, 95%);
@color-silver-l98:  lighten(@color-black, 98%);
@color-silver-dark: #333;

// Brand colors
// Variable pattern: @color-<color>-<modifier>
@color-black-piwik:               #0d0d0d;
@color-blue-piwik:                #4183C4;
@color-red-piwik:                 #d4291f;
@color-green-brandSocial:         #009874;
@color-blue-brandSocial:          #3b5998;
@color-blue-brandSocialLight:     #1c87bd;
@color-blue-brandSocialVeryLight: #00aced;
@color-orange-brand:              #ff9600;

@graph-colors-data-series1: #d4291f;
@graph-colors-data-series2: #1f78b4;
@graph-colors-data-series3: #ff7f00;
@graph-colors-data-series4: #33a02c;
@graph-colors-data-series5: #6a3d9a;
@graph-colors-data-series6: #b15928;
@graph-colors-data-series7: #fdbf6f;
@graph-colors-data-series8: #cab2d6;
/*
Qualitative data color series inspired from colorbrewer2.org/
next ones could be: #cab2d6 #ffff99 # #b2df8a
*/
