<tr class="annotation" data-id="{{ annotation.idNote }}" data-date="{{ annotation.date }}">
    <td class="annotation-meta">
        <div class="annotation-star{% if annotation.canEditOrDelete %} annotation-star-changeable{% endif %}" data-starred="{{ annotation.starred }}"
            {% if annotation.canEditOrDelete %}title="{{ 'Annotations_ClickToStarOrUnstar'|translate }}"{% endif %}>
            {% if annotation.starred %}
                <img src="plugins/Morpheus/images/star.png"/>
            {% else %}
                <img src="plugins/Morpheus/images/star_empty.png"/>
            {% endif %}
        </div>
        <div class="annotation-period {% if annotation.canEditOrDelete %}annotation-enter-edit-mode{% endif %}">({{ annotation.date }})</div>
        {% if annotation.canEditOrDelete %}
            <div class="annotation-period-edit" style="display:none;">
                <a href="#">{{ annotation.date }}</a>
                <div class="datepicker" style="display:none;"/>
            </div>
        {% endif %}
    </td>
    <td class="annotation-value">
        <div class="annotation-view-mode">
            <span {% if annotation.canEditOrDelete %}title="{{ 'Annotations_ClickToEdit'|translate }}"
                  class="annotation-enter-edit-mode"{% endif %}>{{ annotation.note|raw }}</span>
            {% if annotation.canEditOrDelete %}
                <a href="#" class="edit-annotation annotation-enter-edit-mode" title="{{ 'Annotations_ClickToEdit'|translate }}">{{ 'General_Edit'|translate }}...</a>
            {% endif %}
        </div>
        {% if annotation.canEditOrDelete %}
            <div class="annotation-edit-mode" style="display:none;">
                <div class="input-field">
                    <input class="annotation-edit browser-default" type="text" value="{{ annotation.note|raw }}"/>
                </div>
                <br/>
                <input class="annotation-save btn" type="button" value="{{ 'General_Save'|translate }}"/>
                <input class="annotation-cancel btn" type="button" value="{{ 'General_Cancel'|translate }}"/>
            </div>
        {% endif %}
    </td>
    {% if annotation.user is defined and userLogin != 'anonymous' %}
        <td class="annotation-user-cell">
            <span class="annotation-user">{{ annotation.user }}</span><br/>
            {% if annotation.canEditOrDelete %}
                <a href="#" class="delete-annotation" style="display:none;" title="{{ 'Annotations_ClickToDelete'|translate }}">{{ 'General_Delete'|translate }}</a>
            {% endif %}
        </td>
    {% endif %}
</tr>

