<div class="annotations">

    {% if annotations is empty %}
        <div class="empty-annotation-list">{{ 'Annotations_NoAnnotations'|translate }}</div>
    {% endif %}

    <table>
        {% for annotation in annotations %}
            {% include "@Annotations/_annotation.twig" %}
        {% endfor %}
        <tr class="new-annotation-row" style="display:none;" data-date="{{ selectedDate }}">
            <td class="annotation-meta">
                <div class="annotation-star">&nbsp;</div>
                <div class="annotation-period-edit">
                    <a href="#">{{ selectedDate }}</a>

                    <div class="datepicker" style="display:none;"/>
                </div>
            </td>
            <td class="annotation-value">
                <div class="input-field">
                    <input type="text" value=""
                           class="new-annotation-edit browser-default"
                           placeholder="{{ 'Annotations_EnterAnnotationText'|translate }}"/>
                </div><br/>
                <input type="button" class="btn new-annotation-save" value="{{ 'General_Save'|translate }}"/>
                <input type="button" class="btn new-annotation-cancel" value="{{ 'General_Cancel'|translate }}"/>
            </td>
            <td class="annotation-user-cell"><span class="annotation-user">{{ userLogin }}</span></td>
        </tr>
    </table>

</div>
